ion-content {
  --padding-top: 16px;
  --padding-bottom: 32px;
  height: 100%;
  overflow-y: auto; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}


