# ---------------------------
# Visual Studio
# ---------------------------
.vs/
*.user
*.suo
*.wsuo
*.cache
*.ldb
*.pdb
*.obj
*.exe
*.dll
*.mdb
*.log
*.tlog
*.lastcodeanalysissucceeded
*.binlog
*.cachefile

# ---------------------------
# Build results
# ---------------------------
bin/
obj/
Debug/
Release/

# ---------------------------
# VS Code
# ---------------------------
.vscode/

# ---------------------------
# Dotnet
# ---------------------------
*.db
*.db-shm
*.db-wal
*.sqlite

# ---------------------------
# Rider / JetBrains
# ---------------------------
.idea/
*.sln.iml

# ---------------------------
# Others
# ---------------------------
ProjectEvaluation/
.vsconfig

# ---------------------------
# NuGet packages
# ---------------------------
*.nupkg
*.snupkg
packages/

# ---------------------------
# Backup / temp files
# ---------------------------
*_i.c
*_p.c
*.tmp
*.bak
*.swp
*.orig

# ---------------------------
# Sensitive / local config files
# ---------------------------
appsettings.Development.json
launchSettings.json


